#header 
	{
	background-image:url(../IMAGES/takeandrun_blue.jpg);
}


#nav{
	background-color:black;
	width:100%;
}

#date{
	color:#00FF00; /*n°3*/
	width:0px;
}

/* VIDEOS ACCUEIL */

#col01 
{
	background-color: #DAE1F2;/*n°1*/
}

.com1{
	background-color:#484979;/*n°2*/
}

.com3{
	background-color:#484979;/*n°2*/
}

a:hover .com2, a:hover .com2 h2{
	background-color:#484979;/*n°2*/
}

/* MENU */
.menu a:hover, .menu a:focus, .menu a:active {
	color:#12CDFF;/*n°3*/
	background-color:#484979;/*n°2*/
}

.menu ul.subMenu a {
	text-decoration:none;
	color:#000000;
	background-color:#DAE1F2;/*n°1*/
}

.menu ul.subMenu a:hover {
	color: #484979;/*n°2*/
	text-decoration:underline;
	background-color: #AE8FF9;/*n°4*/
}

/** SAISIE VIDEO */
.saisieVideo{
	color:white;
	background-color:#1F1351;
}